body {
   background-color: #6940ae;
   margin: 0%;
   padding: 0%;
}

table {
   /* border: 2px solid white; */
   border-width: 3px;
   width: 70%;



}

th {
   border: 2px solid white;
   font-size: 30px;
   border-width: 3px;

}

.th1 {
   border: none;
}

.main {
   text-align: center;
   color: white;
   font-size: 50px;
   margin-top: 10px;
}

.hh {
   width: 50%;
}

.Dyellow {
   background-color: #fff021;

}

.Lblue {
   background-color: #1caadc;
}

.Lyellow {
   background-color: #cbdb18;
}

.Dpink {
   background-color: #fe7ac4;
}

.Lpink {
   background-color: #ffa6bb;
}

.blue {
   background-color: #53f7ec;
}

.green {
   background-color: #87cb3c;
}

.orange {
   background-color: #f9b03b;
}

.Lpurple {
   background-color: #a2a2be;
}

.Dpurple {
   background-color: #a372f4;
}

.Lwhite {
   background-color: #a79393;
}